@charset "utf-8";
/*헤더*/
#header{
	position: fixed;
	z-index: 1;
	background: #fff;
	width: 100%;
	text-align: center;
    height: 70px;
    line-height: 70px;
    font-size: 16px;
}
#header h1{
    position: absolute;
    left: 0;
    left: 50px;
    top: 8px;
}
.gnb li{
	display: inline-block;
	padding: 0 30px;
}
.gnb li:hover{
}
.gnb a{color:#333;}
.gnb li a:hover{
    color:#ed3525;
}
.utill{
    position: absolute;
    right: 0;
    top: 0;
    right: 50px;
    font-size: 14px;
}
.utill li{
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
    color:#ed3525;
}
.utill a{color:#ed3525}
.utill span{
    padding-right: 10px;
}
.utill img{display: block;vertical-align: middle;}


#fullpage{}
#fullpage{} .section{}
.section{}
.section h1{}
#fp-nav{
	padding-top: -42px;
}